<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action={% url "auction:search" %} method="post">
    {% csrf_token %}
    <input type="text", name="search_term">
    <input type="submit", value="Search">
</form>
{% if auctions.count > 0 %}
    {% for auction in auctions %}
        {% if auction.status == "Active"%}
            {% if user.is_authenticated %}
                <h2>{{auction.item }}</h2> <a href="{% url 'auction:edit' auction.id %}">Edit Auction</a>
                <a href="{% url 'auction:ban' auction.id %}">Ban</a>
            {% endif %}
            <p>{{auction.description}}</p>
            <p>{{auction.minimum_price}}</p>
            <p>{{auction.deadline_date}}</p>
            <p>{{auction.creator}}</p>
            <p>{{auction.status}}</p>
            <form action={% url 'auction:bid' auction.id %} method="post">
                {% csrf_token %}
                <input type="text", name="bid_amount">
                <input type="submit", value="Bid">
            </form>
        {% endif %}
    {% endfor %}
{% else %}
    <p>No active auctions found</p>
{% endif %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{message.tag}}"{% endif %}>{{message}}</li>
    {% endfor %}
    </ul>
    {% endif %}
</body>
</html>