<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% for auction in matching_auctions %}
    {% if auction.status == "Active"%}
        {% if user.is_authenticated %}
            <h2>{{auction.item }}</h2> <a href="{% url 'auction:edit' auction.id %}">Edit Auction</a> <a href="{% url 'auction:bid' auction.id %}">Bid</a>
            <a> href?="{% url 'auction:ban' %}">Ban</a>
        {% endif %}
        <p>{{auction.description}}</p>
        <p>{{auction.minimum_price}}</p>
        <p>{{auction.deadline_date}}</p>
        <p>{{auction.creator_id}}</p>
        <form action={% url 'auction:bid' %} method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="Submit", value="Bid">
        </form>
    {% endif %}
{% endfor %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{message.tag}}"{% endif %}>{{message}}</li>
    {% endfor %}
    </ul>
    {% endif %}
</body>
</html>