<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a href="{% url 'home' %}">Home</a>
{% for auction in matching_auctions %}
    {% if auction.status == "Active"%}
        <p>{{auction.item}}</p>
        <p>{{auction.description}}</p>
        <p>{{auction.minimum_price}}</p>
        <p>{{auction.deadline_date}}</p>
        <p>{{auction.creator_id}}</p>
        <form action={% url 'auction:bid' auction.id %} method="post">
            {% csrf_token %}
            <input type="text", name="bid_amount">
            <input type="Submit", value="Bid">
        </form>
    {% endif %}
{% endfor %}

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{message.tag}}"{% endif %}>{{message}}</li>
    {% endfor %}
    </ul>
    {% endif %}
</body>
</html>